/**
 *** CSS Indexing ***
 * THEME DEFAULT CSS
 * RESET CSS
 * HEADER AREA CSS
 * HERO AREA CSS
 * ABOUT AREA CSS
 * FEATURE AREA CSS
 * SHOWCASE AREA CSS
 * VIDEO AREA CSS
 * SCREENSHOT AREA CSS
 * TESTIMONIAL AREA CSS
 * DOWNLOAD AREA CSS
 * SCROLL-TO-TOP AREA CSS
 * INDEX SLIDER PAGE CSS
 * PRELOADER CSS
**/

/*----------------------------------
--------- THEME DEFAULT CSS --------
----------------------------------*/
body {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/*----------------------------
---------- RESET CSS ---------
----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 30px;
	color: #4d5858;
}
h4 {
    font-size: 18px;
	color: #4d5858;
}
h6 {
    font-size: 14px;
	color: #4d5858;
}
h5 {
	color: #4d5858;
}
a {
    transition: 0.6s;
}
a,
a:hover {
    color: #666666;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    width: 100%;
    border: none;
}
a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol {
    margin-bottom: 0;
}
select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
button{
    cursor: pointer;
}
textarea {
	height: 120px;
}
input[type="text"],
input[type="submit"],
button[type="submit"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea {
    background: transparent;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
input[type="submit"],
button[type="submit"] {
    width: auto;
    color: #666;
    padding: 4px 15px;
    cursor: pointer;
    margin-top: 15px;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.sec-title {
    text-align: center;
    max-width: 720px;
    margin: 0 auto 30px;
}
.sec-title h2 {
    padding-bottom: 20px;
    margin-bottom: 0px;
    position: relative;
    top: -6px;
}


.sec-title-border img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.download-area .sec-title-border img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.sec-title h2 .sec-title-border {
    width: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    margin: auto;
}

.download-area .sec-title-border::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.download-area .sec-title-border::after {
    content: '';
    position: absolute;
    right: -20px;
    width: 40px;
    height: 2px;
    background-color: #fff;
}


.sec-title-border::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 40px;
    height: 2px;
    background-color: #4d5858;
}

.sec-title-border::after {
    content: '';
    position: absolute;
    right: -20px;
    width: 40px;
    height: 2px;
    background-color: #4d5858;
}


.mt-100 {
    margin-top: 100px;
}
.mt-30 {
    margin-top: 30px;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-90 {
    padding: 90px 0;
}
.owl-nav div {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 35px;
    background: #fff;
    color: #000;
    height: 35px;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: 29px;
    transition: 0.4s;
    margin-top: -60px;
}
.owl-nav div:hover {
    background: #000;
    color: #fff;
}
.owl-nav div.owl-next {
    right: 20px;
    left: auto;
}
.owl-dots {
    text-align: center;
    margin: 0 0 15px;
}
.owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: inline-block;
    margin: 0 3px;
}
.owl-dot.active {
    background: #fff;
}
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.header.sticky a.appao-btn {
    color: #fff !important;
    border-radius: 50px;
    padding: 6px 25px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    background: -moz-linear-gradient(right, #59d4e9 50%,#58e1a6 100%);
    background: -webkit-linear-gradient(right, #59d4e9 50%,#58e1a6 100%);
    background: linear-gradient(to right, #59d4e9 50%,#58e1a6 100%);
}

.appao-btn {
    color: #4d5858 !important;
    border-radius: 50px;
    padding: 6px 25px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    background: #fff;
}

.mainmenu a.appao-btn {
    background: -moz-linear-gradient(right, #59d4e9 80%,#58e1a6 100%);
    background: -webkit-linear-gradient(right, #59d4e9 80%,#58e1a6 100%);
    background: linear-gradient(to right, #59d4e9 80%,#58e1a6 100%);
    color: #fff !important;
}

.appao-btn:hover {
    background: #fff;
    color: #666;
}

.appao-btn2 {
    color: #fff !important;
	border-radius: 25px;
	background: #000529; /* Old browsers */
    background: -moz-linear-gradient(right, #59d4e9 50%,#58e1a6 100%);
    background: -webkit-linear-gradient(right, #59d4e9 50%,#58e1a6 100%);
    background: linear-gradient(to right, #59d4e9 50%,#58e1a6 100%);
}
.appao-btn2:hover {
    background: #000529; /* Old browsers */
    background: -moz-linear-gradient(right, #58e1a6 50%,#59d4e9 100%);
    background: -webkit-linear-gradient(right, #58e1a6 50%,#59d4e9 100%);
    background: linear-gradient(to right, #58e1a6 50%,#59d4e9 100%);
}
.flexbox-center {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
input::-webkit-input-placeholder {
    color: #666;
}

/*--------------------------------------
-------- HEADER AREA CSS START --------
---------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
	transition: all 0.4s;
    width: 100%;
    z-index: 99;
	padding: 18px 0;
    background: #fff;
}
.mainmenu {
    text-align: right;
}
.mainmenu li {
    display: inline-block;
}
.mainmenu li a {
    display: inline-block;
    color: #414143;
    position: relative;
    padding: 5px 16px;
    border: 1px solid transparent;
}
.slicknav_menu {
	padding: 0;
    background: transparent;
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active {
    color: #4d5858 !important;
}




.slicknav_menu a.active,
.mainmenu ul li a:hover,
.mainmenu ul li a.active {
    color: #58e1a6;
}


.mainmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.slicknav_menu {
	display: none;
}
.header.sticky {
	border-bottom: 1px solid #fff;
	background: #fff;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    padding: 10px 0;
}

.mainmenu li a.appao-btn {
	margin-left: 55px;
}
/*--------------------------------------
--------- HEADER AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- HERO AREA CSS START --------
---------------------------------------*/
.hero-area {
    padding-top: 72px;
	z-index: 1;
	position: relative;    
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
    background-size: cover;
	overflow: hidden;
}
.hero-area::before {
	content: "";
	top: 0;
	left: 0;
    opacity: 0.85;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background: #000529; /* Old browsers */
	background: -moz-linear-gradient(bottom, #59d4e9 25%,#58e1a6 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, #59d4e9 25%,#58e1a6 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #59d4e9 25%,#58e1a6 50%);
}
.hero-area-content {
    color: #fff;
	padding: 80px 0;
}
.hero-area-content h1{
    color: #414143;
    line-height: 1.1em;
} 

.hero-area-content h2 {
    color: #fff;
    line-height: 1.1em;
}
.hero-area-content p {
    margin: 28px 0 25px;
    font-size: 20px;
}
.hero-area-content .appao-btn {
    margin-top: 15px;
    margin-right: 15px;
}
.hand-mockup {
    position: absolute;
    bottom: -70px;
    max-width: 100%;
}

.hero-area-content .download-btn-text span, 
.hero-area-content .download-btn-text h6 {
    margin: 0; color: #fff !important;
}


.hero-area-content .download-btn {
    max-width: 195px; 
    color: #fff !important;
    margin: 0px 15px 10px 0px; 
    border: 1px solid #fff;
}

.hero-area-content .sec-botones {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
}

.col-lg-7 .hero-area-content .sec-botones {
   justify-content: start; 
}
.col-lg-9 .hero-area-content .sec-botones {
   justify-content: center; 
}


/*------------------------------------
--------- HERO AREA CSS END ---------
------------------------------------*/

/*--------------------------------------
-------- ABOUT AREA CSS START --------
---------------------------------------*/
.about-area {
	text-align: center;
}

.about-area .sec-title p {
    margin-top: 20px;
}
.single-about-box {
	padding: 25px;
    transition: all 0.4s;
}
.single-about-box i::before {
    color: #59d4e9;
    font-size: 40px;
    transition: all 0.4s;
    display: block;
}
.single-about-box.active,
.single-about-box:hover {
	box-shadow: 0 0 5px #ccc;
}
.single-about-box.active i::before ,
.single-about-box:hover i::before {
    color: #58e1a6;
}
.single-about-box h4 {
	margin: 20px 0 5px;
}
/*--------------------------------------
---------- ABOUT AREA CSS END ----------
---------------------------------------*/

/*--------------------------------------
-------- FEATURE AREA CSS START --------
---------------------------------------*/
.feature-area {
	z-index: 1;
	position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.feature-area::before {
	content: "";
	top: 0;
	left: 0;
    opacity: 0.85;
	right: 0;
	bottom: 0;
	background: #000529; /* Old browsers */
    background: -moz-linear-gradient(right, #59d4e9 24%,#58e1a6 100%);
    background: -webkit-linear-gradient(right, #59d4e9 24%,#58e1a6 100%);
    background: linear-gradient(to right, #59d4e9 24%,#58e1a6 100%);
	z-index: -1;
	position: absolute;
}
.single-feature-box h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
.single-feature-box li {
    margin-bottom: 45px;
    display: flex;
}
.feature-box-info {
    flex: 5;
}
.feature-box-icon {
    flex: 1;
	font-size: 20px;
	transition: all 0.4s;
}
.single-feature-box li:hover .feature-box-icon i::before {
    border-radius: 0;
}
.single-feature-box h2,
.single-feature-box h3,
.single-feature-box h4,
.single-feature-box {
	color: #fff;
}
.feature-box-icon i::before {
    border: 2px dashed #fff;
    width: 40px;
    display: inline-block;
    height: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 100%;
	transition: all 0.4s;
}
/*--------------------------------------
--------- FEATURE AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
-------- SHOWCASE AREA CSS START -------
---------------------------------------*/
.showcase-area {
	padding-bottom: 50px;
    background: #f8f8f8;
}
.single-showcase-box {
	padding: 0 0 40px;
}
.single-showcase-box p {
	margin: 20px 0 25px;
}
.single-showcase-box h4 {
	font-size: 20px;
}
/*--------------------------------------
--------- SHOWCASE AREA CSS END --------
---------------------------------------*/

/*--------------------------------------
---------- VIDEO AREA CSS START --------
---------------------------------------*/
.video-area {
    position: relative;
	background-attachment: fixed;
    text-align: center;
    z-index: 1;
    color: #fff;
}
.video-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000529;
    background: -moz-linear-gradient(right, #59d4e9 24%,#58e1a6 100%);
    background: -webkit-linear-gradient(right, #59d4e9 24%,#58e1a6 100%);
    background: linear-gradient(to right, #59d4e9 24%,#58e1a6 100%);
    opacity: 0.85;
    z-index: -1;
}
.video-popup i {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 80px;
    font-size: 25px;
    color: #000529;
    border: 10px solid rgba(255,255,255,0.7);
    border-radius: 50%;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}
.video-popup i::before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
    border-radius: 50%;
}
.video-popup i:hover {
    color: #fff;
}
.video-popup h1 {
    line-height: 35px;
}
.video-popup i:hover::before {
    background: transparent;
}
/*--------------------------------------
----------- VIDEO AREA CSS END ---------
---------------------------------------*/

/*--------------------------------------
------ SCREENSHOT AREA CSS START -------
---------------------------------------*/
.screenshots-area .sec-title {
    margin-bottom: 15px;
}
.screenshot-wrap .slick-list {
	padding-bottom: 129px !important;
	padding-top: 80px !important;
}
.single-screenshot.slick-slide {
	z-index: 1;
}
.single-screenshot.slick-active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 2;
	transition: all 0.3s ease-in 0s;
}
.single-screenshot.slick-center {
	position: relative;
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	transform: scale(1.25);
	z-index: 3;
	transition: all 0.3s ease-in 0s;
}
.single-screenshot img {
	width: 100%;
}

.single-screenshot .descrip-screenshot {
    visibility: hidden;
}

.slick-current.slick-active .descrip-screenshot {
    visibility: visible;
    position: absolute;   
    width: 100%; 
    margin-top: 17px;
}

.slick-current.slick-active .descrip-screenshot h6{
    color: #59d4e9;
    margin-bottom: 5px;
    text-align: center;
    font-size: 17px;
}

.slick-current.slick-active .descrip-screenshot p{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}


.slick-dots {
	text-align: center;
	margin-top: 10px;
}
.slick-dots li.slick-active button {
    background-color: #59d4e9;
}
.slick-dots li {
    display: inline-block;
}
.slick-dots li button {
    background: transparent;
    border: 2px solid #59d4e9;
    border-radius: 100%;
    font-size: 0;
    margin: 0 3px;
    padding: 0;
	cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.single-screenshot.slick-center {
    background-image: url(../mockup.png);
    background-size: 100% 100%;
}
.single-screenshot.slick-center img {
    padding: 35px 20px 60px;
}
.screenshots-area {
    background: #f8f8f8;
}
/*--------------------------------------
-------- SCREENSHOT AREA CSS END -------
---------------------------------------*/


/*--------------------------------------
------ TESTIMONIAL AREA CSS START ------
---------------------------------------*/
.testimonial-area {
    background: #f8f8f8;
}

.author-img {
    width: 95px;
    height: 95px;
    border-radius: 100%;
    margin: 5px auto;
}
.author-img img {
    border-radius: 100%;
    border: 2px solid #59d4e9;
    box-shadow: 0 0 6px #59d4e9;
}
.single-testimonial-box {
    text-align: center;
}
.single-testimonial-box p {
    margin: 0 0 15px;
}
.single-testimonial-box h5 {
    margin: 35px 0 15px;
}
.testimonial-thumb > div {
    position: absolute;
    top: 5px;
    transform: scale(0.7);
    left: 50%;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-left: -150px;
    z-index: 1;
}
.testimonial-thumb > div.thumb-next {
    left: auto;
    right: 50%;
    margin: 0 -150px 0 0;
}
.testimonial-thumb > div:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
/*--------------------------------------
------- TESTIMONIAL AREA CSS END -------
---------------------------------------*/

/*--------------------------------------
-------- DOWNLOAD AREA CSS START --------
---------------------------------------*/
.download-area {
    background: no-repeat center / cover;
    position: relative;
    text-align: center;
    z-index: 1;
}
.download-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000529;
    background: -moz-linear-gradient(right, #59d4e9 24%,#58e1a6 100%);
    background: -webkit-linear-gradient(right, #59d4e9 24%,#58e1a6 100%);
    background: linear-gradient(to right, #59d4e9 24%,#58e1a6 100%);
    opacity: 0.85;
    z-index: -1;
}
.download-area ,
.download-area h1,
.download-area h2,
.download-area h3,
.download-area h4,
.download-area h5,
.download-area h6,
.download-area a {
	color: #fff;
}
.download-area li {
    display: inline-block;
}
.download-btn {
    display: flex;
    text-align: left;
    margin: 0 25px;
    padding: 3px 30px 5px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.download-btn-icon {
    flex: 1;
    font-size: 22px;
    margin-right: 15px;
    line-height: 30px;
}
.download-btn-text {
    flex: 20;
}
.download-btn:hover {
    border: 1px solid transparent;
    box-shadow: 0 0px 8px #6f6f6f;
}
/*--------------------------------------
--------- DOWNLOAD AREA CSS END ---------
---------------------------------------*/

.copyright-area {
    text-align: center;
    padding: 10px 0;
}
.copyright-area p {
    color: #414143;
}
.copyright-area p a {
    color: #59d4e9;
    text-decoration: underline;
}

/*--------------------------------------
-------- SCROLL-TO-TOP CSS START --------
---------------------------------------*/
.scrollToTop {
    width: 40px;
	display: none;
    height: 40px;
    line-height: 39px;
    background: #414143;
	display: none;
    color: #fff;
    position: fixed;
    border-radius: 100%;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    text-align: center;
	font-size: 18px;
}

/*--------------------------------------
--------- SCROLL-TO-TOP CSS END ---------
---------------------------------------*/

/*--------------------------------------
------ INDEX SLIDER PAGE CSS START -----
---------------------------------------*/
.hero-area-slider .owl-nav div {
	opacity: 0;
}
.hero-area-slider:hover .owl-nav div {
	opacity: 1;
}
.hero-area-single-slide {
    margin-top: 50px;
}
.hero-area-single-slide h1,
.hero-area-single-slide p,
.hero-area-single-slide a.appao-btn {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.hero-area-single-slide h1 {
    -webkit-transform: translateX(-140px);
    transform: translateX(-140px);
    -webkit-transition: all .6s linear 0s;
    transition: all .6s linear 0s;
}
.hero-area-single-slide p {
    -webkit-transform: translateX(-140px);
    transform: translateX(-140px);
    -webkit-transition: all .15s linear 0s;
    transition: all .15s linear 0s;
}
.hero-area-single-slide a.appao-btn {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    -webkit-transition: all .10s linear 0s;
    transition: all .10s linear 0s;
}
.hero-area-single-slide img {
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.active .hero-area-single-slide h1,
.active .hero-area-single-slide h2,
.active .hero-area-single-slide p,
.active .hero-area-single-slide a.appao-btn {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.active .hero-area-single-slide h1 {
    -webkit-transition: all 700ms linear 0s;
    transition: all 700ms linear 0s;
}
.active .hero-area-single-slide h2 {
    -webkit-transition: all 700ms linear 0s;
    transition: all 700ms linear 0s;
}
.active .hero-area-single-slide p {
    -webkit-transition: all 1500ms linear 0s;
    transition: all 1500ms linear 0s;
}
.active .hero-area-single-slide a.appao-btn {
    -webkit-transition: all 1300ms linear 0s;
    transition: all 1300ms linear 0s;
}
.active .hero-area-single-slide img {
    opacity: 1;
}
/*--------------------------------------
------- INDEX SLIDER PAGE CSS END ------
---------------------------------------*/


/*--------------------------------------
-------- Pre Loader Style START --------
---------------------------------------*/
#preloader {
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  background: #fff url("../loader.gif") no-repeat center center;
  display: none;
}
/*--------------------------------------
--------- Pre Loader Style END ---------
---------------------------------------*/

.hero-area.error-page {
    min-height: 500px;
}

.hero-area.error-page .contenido {
    margin-top: 8em;
}